<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--配置-->
<configuration>
    <!--属性-->
    <properties resource="db/mysql.properties"></properties>
    <!--设置-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--类型命名-->
    <!--<typeAliases></typeAliases>-->
    <!--类型处理器-->
    <!--<typeHandlers></typeHandlers>-->
    <!--对象工厂-->
    <!--<objectFactory type=""/>-->
    <!--插件-->
    <!--<plugins>-->
    <!--<plugin interceptor=""></plugin>-->
    <!--</plugins>-->
    <!--配置环境-->
    <environments default="default">
        <!--环境变量-->
        <environment id="default">
            <!--事务管理器-->
            <transactionManager type="jdbc"/>
            <!--数据源-->
            <dataSource type="pooled">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--数据库厂商标识-->
    <!--<databaseIdProvider type=""/>-->
    <!--映射器-->
    <mappers>
        <!-- 使用相对于类路径的资源引用 -->
<!--        <mapper resource="mybatis/mapper/UserMapper.xml"></mapper> &lt;!&ndash;通过短名称命名空间操作&ndash;&gt;-->
        <mapper resource="mybatis/mapper/UserDao.xml"></mapper> <!--通过完全限定名的接口操作-->

        <!-- 使用完全限定资源定位符（URL） -->
        <!--                <mapper url="file:///D:/WangYiming/github/java-demo/mybatis-demo/mybatis-base/src/main/resources/mybatis/mapper/UserMapper.xml"></mapper>-->
        <!--        <mapper url="file:///D:/WangYiming/github/java-demo/mybatis-demo/mybatis-base/src/main/resources/mybatis/mapper/UserDao.xml"></mapper>-->

        <!-- 使用映射器接口实现类的完全限定类名 -->
        <!--注意：此种方法要求 mapper 接口名称和 mapper 映射文件名称相同，且必须和接口在一个包下-->
        <!--只能通过短名称命名空间操作-->
        <!--        <mapper class="UserDao"></mapper>-->

        <!-- 将包内的映射器接口实现全部注册为映射器 -->
        <!--注意：此种方法要求 mapper 接口名称和 mapper 映射文件名称相同，且必须和接口在一个包下-->
        <!--只能通过完全限定名的接口操作-->
        <!--                <package name="dao"></package>-->
    </mappers>
</configuration>